/* ================================
   ESTILOS RESTABLECER CONTRASEÑA
   ================================ */

.contacto-section {
  font-size: var(--font-size-base);
  padding: 60px 0;
  background-color: var(--color-fondo);
}

.contacto-container {
  padding: 60px 70px;
  max-width: 620px;
  margin: 80px auto;
  display: flex;
  gap: 40px;
  align-items: flex-start;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 
    0 15px 35px rgba(0, 0, 0, 0.08),
    0 5px 15px rgba(0, 0, 0, 0.05);

  border: 1px solid #eaeaea;
  position: relative;
}

.contacto-content {
  flex: 1;
}

.contacto-image img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  border-radius: 10px;
}

/* Título y texto */
.contacto-content h2 {
  font-size: 2.5rem;
  color: #333333;
  margin-bottom: 10px;
}

.contacto-content p {
  color: #666666;
  margin-bottom: 30px;
  line-height: 1.7rem;
}

/* Formulario */
.form-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.form-row input {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.contacto-form textarea {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 4px;
  resize: none;
}

/* Botón */
.contacto-form button {
  background-color: #333333;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  transition: all 0.3s ease;
}

.contacto-form button:hover {
  background-color: #555555;
  transform: scale(1.03);
}
