h1{
    color:var( --color-titulos);
    font-size: var( --font-size-titulos);
}



.hero{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display:flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 52% 100%, 0 80%);
    font-family: 'Quicksand', sans-serif;
}



.content{
    text-align: center;
}

.content h1{
    font-size: 9.2rem;
    color:#fff;
    font-weight: bold;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color:#fff;
    font-size:24px;
    border:2px;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20;
}

.back-video{
    position: absolute;
    right:0;
    bottom: 0;
    z-index:-1;
}

@media(min-aspect-ratio: 16/9){
    .back-video{
        width:100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    .back-video{
        width:auto;
        height: 100%;
    }
}

main{
    font-family: 'Quicksand', sans-serif;
}

/*Sección de categorías*/
.categorias-section {
    padding: 60px 0;                    /* Espaciado vertical arriba y abajo */

    margin-left: 10%;
    margin-right: 10%;
}

.categorias-container {
    padding: 0 20px;                    /* Espaciado horizontal */
    background-color:white;          /* Fondo blanco */
}

.categorias-card h3{
    text-align: center;
    color: #c77965;               /* Color gris oscuro */
    margin-bottom: 10px;            /* Espacio debajo del título */
}

.categorias-titulo {
    text-align: center;                 /* Centra el título */
    font-size: 2.5rem;                  /* Tamaño de fuente grande */
    color: #703030;                  
    margin-bottom: 40px;                /* Espacio debajo del título */

}

.categorias-grid {
    display: flex;                      /* Los divs se acomodan uno al lado del otro */
    gap: 30px;                          /* Espacio entre las cards */
}

.categoria-card {
    flex: 1;                            /* Cada card toma el mismo espacio */
    background-color:white;          /* Fondo blanco */
    padding: 20px;                     /* Espaciado interno */
    border:none;
}
.categoria-card img {
    width: 100%;                     
    height: 27vh;                   
    object-fit:contain;              
}

.categoria-card img:hover{
    transform: scale(1.2);
}
.categoria-card a{
    text-decoration: none; 
}

/*Productos*/

.container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:3rem;
    padding:3rem 0;
}

h1{
    text-align: center;
}

.top-products{
    display:flex;
    flex-direction: column;
    gap:2rem;
    margin-bottom: 3rem;
    margin-left: 10%;
    margin-right: 10%;
}

.container-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.container span{
    color:#777;
    padding: 0.7rem 3rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
}

.container-options span:hover{
    background-color: var(--color-boton);
    color:#fff;
}

.container-options span.active{
    background-color: var(--color-boton);
    color:#fff;
}

.container-products{
    display: flex;
    justify-content: center;
    gap:5rem;
}

.card-product{
    background-color: var(--color-fondo);
    text-align: center;          /* Centra textos */
    display: flex;               /* Necesario para centrar imagen + textos */
    flex-direction: column;
    align-items: center;         /* Centra horizontalmente */
    padding: 1rem;
    border-radius: 8px;               /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Sombra sutil */
    width: 30vh;
    height:35vh;
}

.card-product img{
    width: 60%;
    height: 60%;
    display: block;
    margin: 0 auto;              /* Por si no usas flex, también ayuda */
    object-fit: contain;
}

.card-product p{
    color: black;
}

/* Slider */
.slider-section {
  margin: 3.7rem 0;
  padding: 1.2rem 0;
}

.slider-contenedor{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}

.swiper{
    width: 100%;
    height: 80vh; 
}

.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

