.login{
    display: flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.input-container {
  display: flex;
  width: 70%;
  margin-bottom: 15px;
}

.login-image{
    flex:1.5;
}

.login-image img{
    width: 100%;
    height: 85vh;
    object-fit: cover;
}

.login-content{
    width: 100%;
    flex:1;
    text-align: center;
}

.login-content a{
    font-family: var(--font-family);
    color: var(--color-gris);
}

.login-content img, h2{
    margin-bottom: 1rem;
}

.login-logo {
    width: 150px;       
    max-width: 40%;      
    aspect-ratio: 1/1;   
    background-image: var(--img-logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 1rem auto; 
}

.login-content p{
    color: var(--color-texto);
}

.login-content h2{
    color: var(--color-titulos);
}

#formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#formLogin input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}



.login-button {
  margin-top: 1rem;
  width: 30%;
  padding: 0.8rem;
  border: none;
  background: var(--color-boton);
  color:var(--color-boton-texto);
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: 1rem;
}

.login-button:hover {
  background: var(--color-gris);
}

.registro-opcion{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    padding: 1rem;
}


.input-container {
  display: flex;
  align-items: center;
  width: 70%;
  background: var(--color-fondo-input, #fff);
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden; /* para que el icono quede pegado */
}

.input-container i {
  color: gray;
  padding: 12px;              /* tamaño del cuadrito */
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;                 /* tamaño fijo */
}

.input-container input {
  border: none;
  outline: none;
  flex: 1;
  padding: 0.8rem;
  font-size: 1rem;
  background: transparent; /* para que combine con el contenedor */
}

.input-container:focus-within {
  border: 1px solid #6f94c7;
  box-shadow: 0 0 4px #6f94c7;
}