.registro{
    display: flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.input-container {
  display: flex;
  width: 60%;
  margin-bottom: 15px;
}

.registro-image{
    flex:1.5;
}

.registro-image img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.registro-logo {
    width: 9.375rem;           
    max-width: 40%;         
    aspect-ratio: 1/1;      
    background-image: var(--img-logo);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 0.05rem auto; 
}

.registro-content{
    width: 100%;
    flex:1;
    text-align: center;
}

.registro-content a{
    font-family: var(--font-family);
    color: var(--color-gris);
}

.registro-content label{
    color: var(--color-texto);
}

.registro-content img, h2{
    margin-bottom: 1rem;
    color: var(--colo-titulos);
}

#form-registro  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-fondo);
    width: 100%;


}

#form-registro input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.account-button {
  margin-top: 1rem;
  width: 30%;
  padding: 0.8rem;
  border: none;
  background: var(--color-boton);
  color:var(--color-boton-texto);
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: 1rem;
}

.account-button:hover {
  background: var(--color-gris);
}

.pais-opciones{
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    padding: 0.5rem;
    margin-left: 1rem;
}

.pais-container{
    display: flex;
    align-items: center;
}

.input-container {
    display: flex;
    align-items: center;
    width: 60%;
    background: var(--color-fondo-input, #fff);
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
}

.input-container i {
    color: gray;
    padding: 12px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.input-container input,
.input-container select {
    border: none;
    outline: none;
    flex: 1;
    padding: 0.8rem;
    font-size: 1rem;
    background: transparent;
}

.input-container:focus-within {
    border: 1px solid #6f94c7;
    box-shadow: 0 0 4px #6f94c7;
}

.pais-container label {
    margin-left: 10px;
    margin-right: 10px;
    color: var(--color-texto);
}


