:root {
    --color-fondo: #ffffff;
    --color-texto: #000000;
    --color-texto-boton:#009aa6;
    --color-header-con-hero: #ffffff;
    --color-header-sin-hero:black;
    --color-font-footer: #ffffff;
    --color-boton-texto:#fff;
    /*--color-boton: #c77965;*/
    --color-boton: linear-gradient(135deg, #652410, #fac697);
    --color-boton-hover:linear-gradient(135deg, #1b262a, #ed8761);
    --color-principal: #a9806a;
    --font-size-base: 1rem;
    --font-size-header: 1.2rem;
    --line-height:1.6rem;
    --color-footer: #a9806a;
    --font-family: 'Quicksand', sans-serif;
    --color-titulos:#737373;
    --font-size-titulos: 2.5rem;
    --font-size-subtitulos: 1.2rem;
    --color-beige: #ebe6db;
    --color-gris:#737373;
    --color-separador-header: #a9806a;
    --color-fondo-header:#ffffff;
    --color-nav-text: #ffffff;
    --color-nav-text-sin-hero: #000000;
    
    /*Cards*/
    --color-cards: #ffffff;
    --color-cards-secundarias:#f7f7f7;

    /*Tabla*/
    --color-celda:#ffffff;

    /* Imágenes*/
    --img-logo: url('/Frontend/imagenes/logo-header-fondo.png');
    --img-presentacion-inicio: url('/Frontend/imagenes/logo-grande-negro.png');

    /* Página de preguntas frecuentes */
    --color-preguntas: #ebe4d1;

    /* Página Sobre Nosotros*/
    --background-hero-nosotros-ligth: url('/Frontend/imagenes/fondo-cafe.jpg');

    /* Página contacto*/
    --color-fondo-contacto:#f5f5f5;

    /*Página de Detalles del Libro*/
    --color-precio:#c77965;
    --color-stock:#2e7d32;
    --color-sin-stock:#b71c1c;
}

.modo-oscuro {
    --color-fondo: #272727;
    --color-texto: #f7f8f3;
    --color-titulos:#ffffff;
    --color-header: white;
    --color-boton: #009aa6;
    --color-boton-hover:#0ebfcd;
    --color-header-con-hero: #ffffff;
    --color-header-sin-hero: #000000;
    --background-hero-nosotros-dark: url('/Frontend/imagenes/fondo-aqua.jpg');
    --color-font-footer: #ffffff;
    --color-principal:#009aa6;
    /*--color-principal: linear-gradient(135deg, #a96f44 0%,  #f2ecb6  100%);*/
    /*--color-principal:linear-gradient(135deg, #0D0D1B 0%,  #F88973  100%);*/
    /*--color-principal:linear-gradient(135deg, #652410, #fac697);*/
    /*--color-footer: linear-gradient(135deg, #a96f44 0%,  #f2ecb6  100%);*/
    /*--color-footer:#d9ab57;*/
    /*--color-separador-header:#d9ab57;*/
    --color-separador-header:linear-gradient(135deg, #a96f44 0%,  #f2ecb6  100%);
    --color-fondo-header: rgba(189, 186, 186, 0.1);
    /*Cards*/
    --color-cards:#454546;
    --color-cards-secundarias:#eeedeb;

    /*Tabla*/
    --color-celda:#f7f7f7;

    /* Imágenes*/
    --img-presentacion-inicio: url('/Frontend/imagenes/logo-grande-blanco.png');
    --img-logo: url('/Frontend/imagenes/logo-header.png');

     /* Página de preguntas frecuentes */
    --color-preguntas: #42a8a1;

    /* Página contacto*/
    --color-fondo-contacto:#272727;

    /*Página de Detalles del Libro*/
    --color-precio:#ffffff;
    --color-stock:#009aa6;
    --color-sin-stock:#e66c5c;
}



/* PANEL DE ACCESIBILIDAD */
.accesibilidad-panel {
    position: fixed;
    top: 0;
    right: -300px; /* se oculta fuera de pantalla */
    width: 300px;
    height: 100%;
    background-color: var(--color-fondo);
    padding: 25px;
    box-shadow: -4px 0 10px rgba(0,0,0,0.3);
    z-index: 9998;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: 'Quicksand', sans-serif;
}

/* Panel visible */
.accesibilidad-panel.activo {
    right: 0;
}

/* Título del panel */
.accesibilidad-panel h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color:var(--color-titulos);
}

/* Opciones */
.opcion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--color-texto);
    font-weight: bold;
}

/* Botón de tema */
.tema-btn {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: #89ace1;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

/* Botones A+ / A- */
.texto-controles button {
    padding: 6px 12px;
    border: none;
    background-color: #89ace1;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.texto-controles button:hover {
    background-color: #6f94c7;
}

/*Estilos para el botón de accesibilidad*/
.accesibilidad-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    background-color: #89ace1;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

*{
    font-family: var(--font-family);
}

.stat-arrow{
    color: var(--color-titulos);
}

.swal2-container,
.swal2-popup {
    opacity: 1 !important;
    z-index: 999999 !important;
}
