:root {
    --color-fondo: #ffffff;
    --color-texto: #000000;
    --color-texto-boton:#009aa6;
    --color-header-con-hero: #ffffff;
    --color-header-sin-hero:black;
    --color-font-footer: #ffffff;
    --color-boton-texto:#fff;
    /*--color-boton: #c77965;*/
    --color-boton: linear-gradient(135deg, #652410, #fac697);
    --color-boton-hover:linear-gradient(135deg, #1b262a, #ed8761);
    --color-principal: #272727;
    --font-size-base: 1rem;
    --font-size-header: 1.2rem;
    --line-height:1.6rem;
    --color-footer: #a9806a;
    --font-family: 'Quicksand', sans-serif;
    --color-titulos:#737373;
    --font-size-titulos: 2.5rem;
    --font-size-subtitulos: 1.2rem;
    --color-beige: #ebe6db;
    --color-gris:#737373;
    --color-separador-header: #a9806a;
    --color-fondo-header:#ffffff;
    --color-nav-text: #ffffff;
    --color-nav-text-sin-hero: #000000;
    --color-header-admin:#ffffff;
    --color-header-text-admin:black;
    
    /*Cards*/
    --color-cards: #ffffff;
    --color-cards-secundarias:#f7f7f7;

    /*Tabla*/
    --color-celda:#ffffff;
}

.modo-oscuro {
    --color-fondo: #272727;
    --color-texto: #f7f8f3;
    --color-titulos:#ffffff;
    --color-header: white;
    --color-boton: #009aa6;
    --color-boton-hover:#0ebfcd;
    --color-header-con-hero: #ffffff;
    --color-header-sin-hero: #000000;
    --background-hero-nosotros-dark: url('/Frontend/imagenes/fondo-aqua.jpg');
    --color-font-footer: #ffffff;
    --color-principal:#03505a;
    /*--color-principal: linear-gradient(135deg, #a96f44 0%,  #f2ecb6  100%);*/
    /*--color-principal:linear-gradient(135deg, #0D0D1B 0%,  #F88973  100%);*/
    /*--color-principal:linear-gradient(135deg, #652410, #fac697);*/
    /*--color-footer: linear-gradient(135deg, #a96f44 0%,  #f2ecb6  100%);*/
    /*--color-footer:#d9ab57;*/
    /*--color-separador-header:#d9ab57;*/
    --color-separador-header:linear-gradient(135deg, #a96f44 0%,  #f2ecb6  100%);
    --color-fondo-header: rgba(189, 186, 186, 0.1);

    --color-header-admin:#03505a;
    --color-header-text-admin:white;
    /*Cards*/
    --color-cards:#454546;
    --color-cards-secundarias:#eeedeb;

    /*Tabla*/
    --color-celda:#f7f7f7;
}

/*Estilos para el botón de accesibilidad*/
.accesibilidad-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    background: #89ace1 !important;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* PANEL DE ACCESIBILIDAD */
.accesibilidad-panel {
    position: fixed;
    top: 0;
    right: -18%; /* se oculta fuera de pantalla */
    width: 18%;
    height: 100%;
    background-color: var(--color-fondo);
    padding: 25px;
    box-shadow: -4px 0 10px rgba(0,0,0,0.3);
    z-index: 9998;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: 'Quicksand', sans-serif;
}

/* Panel visible */
.accesibilidad-panel.activo {
    right: 0;
}

/* Título del panel */
.accesibilidad-panel h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color:var(--color-titulos);
}

/* Opciones */
.opcion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--color-texto);
    font-weight: bold;
}

/* Botón de tema */
/*
.tema-btn {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: #89ace1;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
*/
/* Botones A+ / A- */
/*.texto-controles button {
    padding: 6px 12px;
    border: none;
    background-color: #89ace1;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.texto-controles button:hover {
    background-color: #6f94c7;
}

#textoMenos{
    width: 50px;
    height: 50px;
}

#textoMenos img{
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

#textoMas{
    width: 50px;
    height: 50px;
}

#textoMas img{
    width: 50px;
    height: 50px;
    border-radius: 8px;
}*/


.tema-btn {
    width: 3.75rem;
    height: 3.75rem;
    border: none;
    border-radius: 90%;
    background-color: var(--color-fondo);
    border: 1px solid #89ace1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;
}

.tema-btn img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    pointer-events: none;
}

.tema-btn:hover {
    background-color: #6f94c7;
}

/* Contenedor de botones A+ / A- */
.texto-controles {
    display: flex;
    gap: 15px; /* separación visible entre botones */
}

/* Botones A+ / A- */
.btnTam {
    width: 3.75rem;
    height: 3.75rem;
    border: none;
    /*background-color: #89ace1;*/
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    overflow: hidden; /* evita que la imagen se salga del botón */
}

/* Imagen dentro del botón */
.btnTam img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    pointer-events: none;
}

/* Hover */
.btnTam:hover {
    background-color: #6f94c7;
}


*{
    font-family: var(--font-family);
}

.stat-arrow{
    color: var(--color-titulos);
}

.swal2-container,
.swal2-popup {
    opacity: 1 !important;
    z-index: 999999 !important;
}

#pageTitle{
    color:var(--color-header-text-admin);
}