.sidebar {
    width: 250px;
    background: linear-gradient(135deg, #000000 0%, #444444 100%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: var(--color-principal);
}

.sidebar-header img{
    width: 80%;   
}

/*
.logo {
    font-size: 24px;
    font-weight: bold;
    white-space: nowrap;
    transition: all 0.3s ease;
}*/

.sidebar.collapsed .logo {
    font-size: 0;
}

.toggle-btn {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.sidebar-nav {
    flex: 1;
    overflow-y: auto;
    padding: 20px 0;
    background: var(--color-principal);
}

.nav-list { list-style: none; }

.nav-link {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    border-left: 3px solid transparent;
    transition: all 0.3s ease;
}

.nav-link i {
    font-size: 18px;
    min-width: 25px;
}

.nav-text {
    margin-left: 15px;
    white-space: nowrap;
}

.sidebar.collapsed .nav-text {
    display: none;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.12);
    color: #ffffff;
}

.nav-item.active .nav-link {
    background-color: rgba(255, 255, 255, 0.22);
    border-left-color: #ffffff;
}
